<app-navbar></app-navbar>

<!-- Main Content -->
<div class="flex justify-center items-center h-screen text-center px-4">
    <div class="max-w-3xl">
        <h1 class="text-4xl font-extrabold text-gray-900 mb-4">Bienvenue sur RecycleHub</h1>
        <p class="text-lg text-gray-700 leading-relaxed">
            RecycleHub est une application de gestion de recyclage qui met en relation des particuliers et des collecteurs agréés appartenant à l’entreprise qui souhaite automatiser ses tâches. Notre mission est de rendre le recyclage plus facile et plus accessible pour tous, tout en contribuant à un avenir plus vert.
        </p>
    </div>
</div>