<app-navbar></app-navbar>

<!-- Main Content -->
<div class="flex justify-center items-center h-screen bg-green-500 px-4">
    <!-- Image à gauche -->
    <div class="w-1/2 flex justify-center">
        <img src="assets/1589553265_archive_shutterstock_600755237_rz750.jpg" alt="Recyclage" class="w-3/4 rounded-lg shadow-lg">
    </div>

    <!-- Texte à droite -->
    <div class="w-1/2 text-center p-6">
        <h1 class="text-4xl font-extrabold text-gray-900 mb-4">Bienvenue sur RecycleHub</h1>
        <p class="text-lg text-white leading-relaxed">
            RecycleHub est une application de gestion de recyclage qui met en relation des particuliers et des collecteurs agréés appartenant à l’entreprise qui souhaite automatiser ses tâches. 
            Notre mission est de rendre le recyclage plus facile et plus accessible pour tous, tout en contribuant à un avenir plus vert.
        </p>
    </div>
</div>
